:root {
    --color-secondary:  rgb(138, 141, 145);
    --color-background-sidebar: #F1F4F9
}

.sidebar {
    height: 100vh;
    width: 320px;
    border: 1px solid #D5D9DE;
    background: var(--color-background-sidebar)
}

.container_title {
    display: flex;
    margin: 5px;
}

.avatar {
    width: 35px;
}

.content_title {
    display: flex;
    width: 270px;
    padding-top: 5px;
    justify-content: space-around;
}

.title_text {
    font-size: 12px;
}

.title_text div:first-child {
    padding-bottom: 5px;
}

.title_text > div > span {
    padding-left: 5px;
}

.text {
    color: var(--color-secondary);
    padding-bottom: 5px;
}

.moreHorizIcon {
    cursor: pointer;
}

.input {
    border: none;
    outline: 0;
    position: absolute;
    left: 39px;
    top: 64px;
}

.searchIcon {
    max-width: 20px;
    position: relative;
    left: 4px;
    bottom: 1px;
}

.dialpadIcon {
    position: relative;
    max-width: 20px;
    right: 5px;
    bottom: 2px;
}

.container_input > div {
    border-left: 1px solid #D5D9DE;
    position: relative;
    left: 117px;
    height: 29px;
    bottom: 6px;
}

.container_input {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-secondary);
    margin: 0px 10px 0px;
    padding: 5px 0px 5px;
    color: var(--color-secondary);
    border-radius: 3px;
    height: 30px;
    background-color: #FFF;
}

.container_options {
    display: flex;
    justify-content: space-around;
    font-size: 9px;
    margin-top: 10px;
}

.container_options > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.container_options > div:hover {
    color: gray;
}

.container_options > div > div {
    color: var(--color-secondary);
}

.divider {
    border: 1px solid var(--color-secondary);
    margin-top: 10px;
}

.options_chat {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.options_chat > div {
    display: flex;
    font-size: 12px;
}

.expandMoreOutlinedIcon {
    padding-bottom: 8px
}

.botton_chat {
    background-color: #FFF;
    border-radius: 10px;
    width: 145px;
    height: 30px;
    align-items: center;
    padding-left: 7px;
    justify-content: center;
    font-size: 12px;
    box-shadow: 1px 1px 3px var(--color-secondary);
}

.text_chats_recents {
    display: flex;
    font-size: 12px;
    padding: 10px;
    color: var(--color-secondary);
}

.text_chats_recents :last-child {
    font-size: 15px;
}

.text_favoritos {
    display: flex;
    font-size: 12px;
    padding: 10px;
    color: var(--color-secondary);
}

.container_contacts {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin: 0px 5px 0px;
    margin-bottom: 17px;
}

.container_contacts :first-child {
    display: flex;
}

.container_contacts :first-child > div > div {
    margin-left: 10px;
    margin-top: 5px;
}

.chip {
    color: #FFF;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: #8A8D91;
}

.scroll_contacts {
    overflow: scroll;
    max-height: 367px;
}

.scroll_contacts::-webkit-scrollbar {
    background: #b30000; 
}